.login-form-container {
  background: rgba(40, 40, 40, 0.7);
  border-radius: 5px;
  margin: 5em;
}

.login-form-submit {
  display: inline-block;
  width: 100%;
}

.home-page {

  h2 {
    font-size: 1.2em;
    color: #eee;
  }

  section {
    margin: 3em auto;
    padding: 3em;
    text-align: center;

    &:first-child {
      margin-top: 0;
    }

    &.centered {
      text-align: center;
    }
  }

  form {
    margin-bottom: 1em;

    input {
      outline: none;
      color: #ccc;
      width: 100%;
      padding: 0.5em;
      background: rgba(220, 220, 220, 0.4);
      text-align: center;
    }
    input, button {
      margin-top: 10px;
      border-radius: 10px;
      border: 1px solid #ccc;
    }
  }

  span.at-prefix {
    color: black;
    margin-left: 0.4em;
  }
}
